* {
  --tc: #111;
  --bc: #fff;
  --hc: #273;
}

@media (prefers-color-scheme: dark) {
  * {
    --tc: #fff;
    --bc: #111;
    --hc: #fb0;
  }

  #logo {
    filter: invert(1);
  }

  #footer-logo {
    filter: invert(1);
  }
}

html {
  height: 100%;
}

body {
  font: 1.125em -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.4;
  color: var(--tc);
  background: var(--bc);
  max-width: 36em;
  margin: 0 auto;
  padding: 0 0.7em;
  text-align: justify;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: 3em;
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--hc);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
br,
header,
ul {
  margin-bottom: 1em;
}

ul {
  padding-left: 1em;
}

br {
  content: " ";
  display: block;
  margin-top: 0.5em;
}

/* navigation */
section,
section:target ~ section:last-of-type {
  display: none;
}

section:target,
section:last-of-type {
  display: inherit;
}
/* end navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding-top: 1em;
}

header > a {
  font-size: 1.7em;
  font-weight: 700;
}

nav a {
  margin-left: 0.75em;
}

#logo {
  width: 0.8em;
  height: 0.8em;
}

footer {
  margin-top: auto;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

footer > p {
  margin-top: 0;
  margin-bottom: 0;
}

#footer-logo {
  width: 0.85em;
  height: 0.85em;
}

footer em {
  font-size: 1.1em;
}
